#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    position: relative;
    padding:20px 433px;
    display: flex;
    justify-content: flex-start;
    

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}